<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/photo-6/500/142-512.png">

    <link rel="stylesheet" href="css/post.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    
    
</head>
<body>
  
  


    <!-- <div class="modal" id="first" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Meet your Art to the World!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/uploadPainting" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              
                  <div class="upload left">
                      <img src="images/base-image.png" id="uploadedArt">

                     
                  </div>
                  <div class="upload right">
                    <input type="file" class="target-image" id="upload" name="painting" hidden>
                    <label for="upload" id="choose-file-btn">Choose file</label>
                      
                    
                  </div>
              
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary btn-lg" id="next"></input>
            </div>
          </form>
          </div>
        </div>
      </div> -->

      <!-------------------------------------------------SECOND-------------------------------------------------------------------------->
      <div class="modal" id="second" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered " >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Meet your Art to the World!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/post" method="POST" enctype="multipart/form-data">
              <div class="modal-body">
                
                    <div class="upload left">
                        <img src="images/base-image.png" id="uploadedArt2">

                        <input type="file" class="target-image" id="upload" name="painting" hidden>
                        <label for="upload" id="choose-file-btn">Choose file</label>

                    </div>
                    <div class="upload right  modal-rt-2">
                      
                          <div class="form-group">
                              <label for="exampleInputEmail1" class="inputHead">Title of your Art:</label>
                              <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title" required>
                          </div>
                          <div class="form-group">
                              <label for="exampleFormControlTextarea1" class="inputHead">Description:</label>
                              <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" required></textarea>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputEmail1" class="inputHead">Base Price(In INR):</label>
                              <input type="number" name="basePrice" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Base Price" required>
                          </div>
                          
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="inputHead">Time For Auction(In Mins)</label>
                            <input type="number" name="TimeBeforeBid" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Time For Auction" required>
                        </div>
                        
                        

                    </div>
                
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-lg" id="post"></input>
              </div>
            </form>
            
          </div>
        </div>
      </div>
      <script src="/js/postUploadHelper.js"type="text/javascript"></script>
</body>
</html>