body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}
.middle-section{
    width: 65%;
    margin: 10px auto;
}
.feed-container{
    position: relative;
    margin-top: 70px;
}
#m-sec-title{
    display: inline-block;
    margin-left: 22px;
    font-size: 90px;
    font-family: Sacramento;
    margin-top: 40px;
}
#upload-post-btn{
    display: block;
    float: right;
    width: 180px;
    height: 52px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 27px;
    margin: 57px 15px 0px 0px;
    padding: 10px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#upload-post-btn:hover{
    /* transform: scale(0.98); */
    color: white;
    background-color: tomato;
}
.fa-plus{
    margin: 0px 14px 0px 10px;
}

.artist-name{
margin:0px 0px 10px 41px;
border: 1px solid	#bfbfbf;
width: 190px;
height: 25px;
font-size: 17px;
font-family: cursive;
padding-left: 3px;
border-radius: 20px;
}
.artist-name a{
    text-decoration: none;
color: black;
}
.artist-name a:hover{
    color: grey;
    text-decoration: none;
}
.artist-name::before{
position:absolute;
content:"";
width:2px;
background-color: black;
height: 24px;
top:12px;
left: 20px
}
#first-hr{
position:absolute;
width: 20px;
background-color: black;
left:20px;
top:-4px;
border: 1px solid black
}
#second-hr{
position:absolute;
width: 20px;
left: 230px;
top: -4px;
border: 1px solid black
}
.artist-name::after{
position:absolute;
content:"";
width:2px;
background-color: black;
height: 24px;
top:12px;
left: 250px
}

.post{
/* width: 100%; */
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
box-shadow: rgb(0 0 0 / 0.30) 0px 5px 10px;
/* margin: 20px; */
display: flex;
padding: 22px;
/* margin-bottom: 45px; */
border-radius: 20px;
border: 1px solid lightseagreen;
background: #e6ffff;
}
.lt{
width: 30%;
margin: 10px 40px 0px 10px;
}
.art{
width: 100%;
height: 305px;
}
#p-name{
margin-top: 7px;
color: grey;
text-align: center;
}
.price{
text-align: center;
}
.price del {
color: red;
text-decoration: none;
position: relative;
}
.price del:before {
content: " ";
display: block;
width: 100%;
border-top: 2px solid rgba(255, 0, 0, 0.8);
height: 12px;
position: absolute;
bottom: 0;
left: 0;
transform: rotate(-7deg);
}
.price ins {
color: green;
font-size: 32px;
text-decoration: none;
padding: 0.6em 1em 0.6em 0.5em;
}
.like-comm-section{
height: 70px;
text-align: center;
}
.lc-section{
display: inline-block;
font-size: 30px;
margin: 20px 35px 0px;
}
.fa-heart{
color: red;
}

.rt{
width: 64%;
padding-top: 30px;
}
.blog-para{
font-family: 'KoHo', sans-serif;
font-size: 22px;
color: #140c40;
min-height: 282px;
}
.sell-section{
display: flex;
margin: 90px 30px 10px 0px;
float: right;
}
.l-btn{
    border: none;
    background-color: #e6ffff;
}